:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-name {
  font-family: Rajdhani, sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.identity-img {
  margin-bottom: 1rem;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  padding:  0.125rem
}
