@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #e5e5e5;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  background-image: url('src/assets/images/staking-gradient-background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

