.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logoutContainer {
  display: flex;
  justify-content: center;
}

.enrolbuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #c7f5fd 0%, #e6fdff 32.23%, #c1d7fb 100%),
  radial-gradient(
    184.5% 68.24% at 169.12% 8.09%,
    #edffff 32.52%,
    #dbedff 71.15%,
    #cbdff4 91.96%
  );
  box-shadow: 0px 9px 6px rgba(32, 71, 169, 0.3);
  border-radius: 50px;
  color: #4b25c7 !important;
  padding: 0 0 !important;
  margin-top: 38px;
  height: 48px;
  width: 172px;

&.mat-raised-button[disabled] {
   opacity: 0.5;
 }

&:hover {
   background-color: #aff6fc;
 }
}

.button:hover {
  background-color: #a6120d;
}

.button img {
  margin-right: 16px;
}

.button .metamask {
  height: 36px;
  width: 36px;
}

.button .walletconnect {
  height: 48px;
  width: 48px;
}

a {
  color: #dd1b16;
}
